@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Lissage des polices pour le côté "Clean" */
  -webkit-font-smoothing: antialiased;
}